@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    
    /*
    height: 100vh;
    flex-direction: row;
    justify-content: flex-start;*/
}

.main {
    margin-top: 70px; /* Respeta la altura del header */
    min-height: calc(100vh - 70px); /* Resta el header para que se ajuste en altura */
    width: 100%;

    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

/* Barra superior */
#header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100; /* Asegura que la barra superior esté sobre el sidebar */

    background: linear-gradient(
        rgba(30, 30, 30, 0.8),
        rgba(30, 30, 30, 0.8)
    ), url('../../Images/Login/Sallenet_Fondo1.png') no-repeat;
    background-size: auto; /* Agranda la imagen al 200% de su tamaño original */
    background-position: center; /* Asegura que la imagen esté centrada */
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Deja espacio entre el botón y el logo */
    height: 100%;
}

.d-flex {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    width: 70px;
}

.d-flex img {
    width: 38px;
    height: auto;

    border-radius: 50%;
    border: 2px solid #FFF;
}

.text-center {
    display: flex;
    justify-content: center; /* Centra el logo horizontalmente */
}

.logo {
    width: 100%;
    height: 70px;

    padding: 7px;
}

.logo img {
    width: auto;
    height: 100%;
}

/* Barra lateral */
#sidebar {
    width: 240px;
    height: calc(100vh - 65px); /* Ajusta la altura para que se mantenga dentro de la ventana */
    margin-top: 65px; /* Asegura que el sidebar no se superponga a la barra superior */
    
    display: flex;
    position: fixed;

    left: -240px; 
    top: 0;

    z-index: 1000;
    
    flex-direction: column;
    
    background-color: rgba(5, 5, 5, 0.7);/* #4b4b4b;*/

    backdrop-filter: blur(2px); /* Aplica un desenfoque al fondo */
    -webkit-backdrop-filter: blur(2px); /* Compatibilidad con navegadores basados en WebKit */
    
    transform: translateX(-100%); /* Mueve el sidebar fuera de la vista */
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out; /* Añade una animación suave */

    opacity: 1; /* Lo hace invisible */
}

#sidebar.expand {
    transform: translateX(240px); /* Hace que el sidebar se deslice hacia adentro */
    opacity: 1; /* Lo hace visible */
}

.sidebar-space {
    background-color: #393939;
    width: 100%;
    height: 12px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1rem;

    position: relative;
    width: 70px;
    z-index: 1; 
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin-top: 1em;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

/* Contenido del sidebar */
/* Contenedor de cada item del sidebar */
.sidebar-item {
    display: flex;
    align-items: center; /* Centra verticalmente */
    padding: 5px 0; /* Espacio superior e inferior */
}

.sidebar-footer {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

/* Enlace que contiene el ícono y el texto */
.sidebar-link {
    color: #fff; /* Cambia el color si es necesario */
    text-decoration: none; /* Quita el subrayado */
}

/* Icono */
.sidebar-link i {
    font-size: 1.3rem;
}

.sidebar-link span {
    margin-left: 10px;

    font-size: 1rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}

/* Estilo cuando el enlace es hover */
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #ffffff;
    width: 100%;
}

.sidebar-perfil {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items: center;    /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    text-align: center; /* Opcional, si deseas centrar también el texto */
    padding: 15px 0;
}

.sidebar-perfil-img {
    padding: 2px;

    align-items: center;
    justify-content: center;

    width: 222px;
}

.sidebar-perfil-img img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #FFF;

    margin-bottom: 5px;
}

h3, h4 {
    margin: 5px 0; /* Espacio entre los textos */
    color: white;  /* Color del texto */
}

.sidebar-perfil, .sidebar-perfil-img img {
    opacity: 1; /* Cuando el sidebar está expandido, se vuelve visible */
    transform: translateY(0); /* Se mueve a su posición original */
}

.sidebar-nav {
    padding: 10px 0px 10px 0px;
    flex: 1 1 auto;
}

.view-buttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.view-buttons button {
    margin: 0 5px;
    background-color: #75858d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 0.5em;
    transition: background-color 0.3s;
}

.view-buttons button:hover {
    background-color: #0056b3;
}

#calendar {
    max-width: 100%;
    max-height: 460px;
    margin: 10px auto;
    overflow: hidden;
}

.fc {
    font-size: 0.45em;
}

#selected-date {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.selected-day {
    background-color: #2c9ea770 !important;
    color: white;
}

.incidencia {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
}

.incidencia strong {
    color: #007bff;
    /* Color del títol de l'incidència */
}

.incidencia-link {
    color: inherit;
    text-decoration: none;
}

.incidencia-link:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
}

/* Mes-Semana-Dia */
.btn-group {
    width: 100%;
    max-width: 1000px;
}

/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    height: 100vh;

    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
margin-top: 1em;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.view-buttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.view-buttons button {
    margin: 0 5px;
    background-color: #75858d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 0.5em;
    transition: background-color 0.3s;
}

.view-buttons button:hover {
    background-color: #0056b3;
}

#calendar {
    max-width: 100%;
    max-height: 460px;
    margin: 10px auto;
    overflow: hidden;
}

.fc {
    font-size: 0.45em;
}

#selected-date {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.selected-day {
    background-color: #2c9ea770 !important;
    color: white;
}

.incidencia {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
}

.incidencia strong {
    color: #007bff;
}

.incidencia-link {
    color: inherit;
    text-decoration: none;
}

.incidencia-link:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
}
*/